<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="style3.css">
</head>
<body>
	<div class="main">
		<div class="top-bar">
			<div class="logo">
				<img src="download.png" class="avatar">
			</div>
		</div>
		<div class="center-panel">
			<div class="text-area">
				<h1>Chat Box</h1>
				<p>Hi There! <br>Thanks for signing up to keep in touch with Digital Campus.<br> If you have gone through our Chat Box demo then Select <span>Get Started</span>, else select <span>View Demo</span> to get familiar with Chat Box.
				</p>
				   <input type="button" value="Get Started" class="btn1" name="">
				   <input type="button" value="View Demo" class="btn2" name="">
			</div>
			<div class="image">
				<img class="image1" src="chat.svg">
				<img class="image2" src="wave.svg">
				<div class="cl"></div>
			</div>
	</div>
</body>
</html>