

<html>
    <head>
        <title>Enroll Member</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel = "stylesheet" href = "style_am.css">
        <link rel = "stylesheet" href = "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class = "hero">
        <div class = "nav-bar">
            <div class = "nav-logo">
                <img src="download.png">
            </div>
            <div class="nav-links" id="nav-links">
                <i class="fa fa-close" onclick="closeMenu()"></i>
                <ul>
                    <a href="#"><li>Personal Details</li></a>
                    <a href="#"><li>Schedule Class</li></a>
                    <a href="#"><li>Schedule Exam</li></a>
                    <a href="#"><li>Publish Results</li></a>
                    <a href="Login.html"><li>Log Out</li></a>
                </ul>
                <a href="homep_enroll.html"><button type="button" class="btn">Enroll Member</button></a>
            </div>
            <i class="fa fa-bars" onclick="showMenu()"></i>
        </div>
        <div class="vertical-bar">
            <div class="search-icon">
                <i class="fa fa-th-list"></i>
                <i class="fa fa-search"></i>
            </div>
            <div class="help-icon">
                <i class="fa fa-comments"></i>
                <i class="fa fa-question"></i>
            </div>
        </div>
        <div class="form-box">
            	<div class="row">
  <div class="column ";>
     <label for="Name">Name:</label><br><br>
     <label for="Email">Email:</label><br><br>
     <label for="Phone">Phone number:</label><br><br>
     <label for="Campus">Campus:</label><br><br>
    </div>
  <div class="column" ;>
  <input type="text" id="Name" name="Name" ><br><br>
   	<input type="text" id="Email" name="Email" ><br><br>
   	<input type="text" id="Phone" name="Phone" ><br><br>
   	<input type="text" id="Campus" name="Campus" ><br><br>

  </div>
        </div>


</div>
        <script>
            var show = document.getElementById("nav-links");
            function showMenu(){
                show.style.right = "0";

            }
            function closeMenu(){
                show.style.right = "-200px";

            }
        </script>
    </body>
</html>